@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

:root {
  font-size: 62.5%;
  --shades-color-1: #ecd500;
  --shades-color-2: #b8a700;
  --shades-color-3: #877b00;
  --shades-color-4: #5a5200;
  --shades-color-5: #3a2b00;
  --card-back: linear-gradient(180deg, #ecd500 0, #3a2b00 100%);

  --font-body: 'Righteous', cursive;
}

body {
  background-color: var(--shades-color-1);
  font-family: var(--font-body);
}

header {
  padding-block: 2rem;
  background-color: var(--shades-color-5);
}

.wrapper {
  width: min(50rem, 100%);
  margin-left: auto;
  margin-right: auto;

  padding-inline: 1rem;

  /* background-color: aquamarine; */
}

/* ---- */

header .logodiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: var(--card-back);
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  padding-block: 1rem;
}

header img {
  width: 100%;
}

header .logodiv h1 {
  font-size: 3rem;
  color: var(--shades-color-1);
}

header .header-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 2rem;
}

header .divcontrols {
  width: 15rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
header .divcontrols .score {
  width: 15rem;
  height: 5rem;
  background-color: var(--shades-color-2);
  border-radius: 0.2rem;
  border: 0.2rem solid var(--shades-color-1);
}

header #btn_iniciar {
  background-color: var(--shades-color-1);
  width: 15rem;
  padding-block: 1rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 2rem;
  font-family: var(--font-body);
  color: var(--shades-color-5);

  transition: all 0.2s;
}
header #btn_iniciar:hover {
  transform: scale(1.1);
}
header #btn_iniciar:active {
  background-color: var(--shades-color-3);
}

#game .board {
  /* background: var(--card-back); */
  width: 100%;
  padding-block: 4rem;
  padding-inline: 1rem;

  display: grid;
  grid-template: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr / 1fr 1fr;

  justify-items: center;
  align-items: center;

  column-gap: 1rem;
  row-gap: 1.5rem;

  margin-top: 1rem;
}

#game .card {
  width: 10rem;
  height: 10rem;
  position: relative;

  transform-style: preserve-3d;
  transition: transform 0.5s;
}

#game .card-front,
.card-back {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;

  border: 0.1rem solid var(--shades-color-2);
  border-radius: 1.2rem;

  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);

  /* todas as cartas back ou front que estiverem invertidas (transforme rotate), ficarão ocultas */
  backface-visibility: hidden;
}

#game .card-front {
  background-color: var(--shades-color-5);
  transform: rotateY(180deg);
}

#game .card-front img {
  transform: scale(1.3);
}

.flip {
  transform: rotateY(180deg);
}

#game .card-back {
  background: -webkit-linear-gradient(-90deg, #4faf87 0, #1b3d2f 100%);
  background: -moz-linear-gradient(180deg, #4faf87 0, #1b3d2f 100%);
  background: linear-gradient(180deg, #4faf87 0, #1b3d2f 100%);
}

#game img {
  width: 100%;
}

/* --------------- */

.game-over-div {
  display: none;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5rem;

  background-color: rgba(0, 0, 0, 0.9);

  animation-duration: 1s;
  animation-fill-mode: forwards;

  animation-timing-function: ease-out;
}

#gameOverText {
  background-color: var(--shades-color-4);
  padding-block: 5rem;
  padding-inline: 15rem;
  border-radius: 5px;
  border: 0.1rem solid var(--shades-color-1);

  font-size: 3rem;
  font-family: var(--font-body);
  line-height: 100%;
  color: white;
}

#btnReinicia {
  background-color: var(--shades-color-2);
  font-size: 1.8rem;
  font-family: var(--font-body);
  color: white;
  border: 1px solid transparent;
  border-radius: 2px;

  padding-block: 1.5rem;
  padding-inline: 4rem;

  transition: transform 0.2s;
}
#btnReinicia:hover {
  transform: scale(1.1);
}

.show {
  display: flex;
}

footer {
  background-color: var(--shades-color-5);
  padding-block: 1.5rem;
}

footer .rightsdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer .rightsdiv p {
  font-size: 1.2rem;
  color: white;
  font-weight: 400;
  text-align: justify;
}

footer .rightsdiv p:nth-child(2) {
  padding-top: 1rem;
  color: var(--shades-color-1);
}

@keyframes moveElem {
  0% {
    top: 100vh;
    height: 0;
  }
  100% {
    top: 0;
    height: 100vh;
  }
}

/* ========================= MEDIA */

@media (min-width: 425px) {
  #game .board {
    /* background: var(--card-back); */
    width: 100%;
    padding-block: 4rem;
    padding-inline: 4rem;

    display: grid;
    grid-template: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr / 1fr 1fr 1fr;

    justify-items: center;
    align-items: center;

    column-gap: 1rem;
    row-gap: 1.5rem;

    margin-top: 1rem;
  }
}

@media (min-width: 768px) {
  header .header-logo {
    flex-direction: row;
  }

  header .logodiv {
    width: 50%;
    flex-direction: column;
  }
}

@media (min-width: 1024px) {
  #game .board {
    /* background: var(--card-back); */
    width: 100%;
    padding-block: 4rem;
    padding-inline: 4rem;

    display: grid;
    grid-template: 1fr 1fr 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;

    justify-items: center;
    align-items: center;

    column-gap: 1rem;
    row-gap: 1.5rem;

    margin-top: 1rem;
  }
}
